.project-card {
    display: flex;
    justify-content: center;
    background-color: #484848;
    border-radius: 10px;
}

.project-card-image {
    padding: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 900px; 
    width: 100%;
    height: 100%; 
}

.project-card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    max-width: 700px;
    width: 100%;
    height: 100%;
}

.project-card button {
    padding: 1rem 1.5rem;
    background-color: black;
    color: #DDDAA7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tech-badge {
    background-color: black;
    border-radius: 12px;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    font-size: 0.9rem;
}

/* Adjust syles for tablets and smaller screens */

@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
    }
}