.about-container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem; 
    margin-top: 3rem; 
    margin-bottom: 3rem; 
}

.about-skills ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.about-container h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.about-container h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    max-width: 1200px;
}

.about-container p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    max-width: 1200px;
}

.about-skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-skills i {
    font-size: 3rem;
}