@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  background-color: #1E1E1E;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

/* Headings and Paragraphs */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: calc(1rem + 0.1vw);
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #DDDAA7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

