.github-profile {
    display: flex;
    gap: 1.5rem;
}

.repos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 700px;
    background-color: #484848;
    padding: 1rem;
    border-radius: 12px;
}

.repos li {
    list-style: none;
}