.github-profile {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.github-profile p {
    margin-bottom: 0.5rem;
}

.show {
    color: #DDDAA7;
}

.user-info {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}

.github-container {
    display: flex;
}

.repos {
    margin-bottom: 1rem;
    position: relative;
    pointer-events: none;
}

.repos ul {
    display: flex;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-70%);
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    gap: 1rem;
    background-color: rgba(72, 72, 72, 0.7);
    padding: 1.5rem;
    border-radius: 12px;
    pointer-events: auto;
}

.repos li {
    list-style: none;
}

@media (min-width: 480px) {
    
}

@media (min-width: 768px) {
    .repos ul {
        max-width: 700px;
    }
}

@media (min-width: 1600px) {
    
}
